.flip-container
  absolute top 50% left 50%
  display block
  width 400px
  transform translate3d(-50%, -50%, 0)

  .flip-clock-divider
    height 65px
    .flip-clock-label
      font-family $helvetica
      font-weight 100
      text-transform lowercase
      top inherit
      right inherit
      absolute bottom left
      color white
    &.days
      .flip-clock-label
        left 39px
    &.hours
      .flip-clock-label
        left 39px
    &.minutes
      .flip-clock-label
        left 35px
    &.seconds
      .flip-clock-label
        left 28px

  // Double dots between values
  .flip-clock-dot
    background white
    size 6px
    left 7px
    &.top
      top 17px
    &.bottom
      bottom 28px

  // General behavior
  ul
    margin 1px
    size 30px 50px
    font-size 27px
    font-weight 100
    li
      line-height 45px
      // Displayed digits
      a div div.inn
        border 1px solid rgba(white, 30%)
        color white
        background black
        font-size 30px
