@import 'nib'
@import 'typographic'

global-reset()

blackBg = #1d1d1b
textColor = #ffffff

typographic()
t-headers($helvetica)

html, body
  size 100% 100vh
html, body, .flip-container
  background blackBg
  color textColor
  font-family $helvetica

h1
  color textColor
